.navigation__social{

    margin-left: auto;
    
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-top: 30px;
    padding: 50px;
}

.navigation__social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;

    transition:0.5s
}

.navigation__social svg:hover{
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer

}