main {
    flex-direction: row;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    padding: 20px;
    background-color: #1a1a1a3f; 
    width: 100%;
    max-width:1440px;
    background-color: rgba(255, 255, 255, 0); /* Fundo semitransparente */
    margin: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto dentro da caixa */
   
}


h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

.textos{
    width: 80%;
    margin: auto;

}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;  
}

.col-6 { 
    align-items: center;
    width: 50%;
}







